*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

header{
    background-color: aSS;
}   

header .container {
    display: flex
}


header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;

}
.container {
    width: 1366px;
    margin: 0 auto;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img {
    /*height: 180px;*/
    width: 100%;

}
.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}
section h2 {
margin-bottom: 16px;
}
.articles article h3  {
    margin-top: 8px;
    margin-bottom: 8px;
}
.articles article a {
    background-color: blue;
    color: azure;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;

}

.articles article p {
    font-family: Arial, Helvetica, sans-serif;
}
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}
section h2 {
    font-size: 32px;
}

#esportes {
    background-color: darkseagreen;
}

#esportes .articles article a {
    background-color: lightblue;
}

#economia {
    background-color: burlywood;
}

#economia .articles article a {
    background-color: coral;
}
